<div class="course-item" *ngFor="let item of items | sortBy: 'creationDate' : 'desc'; index as i; trackBy: trackById" 
    [appBorderColor]="item.creationDate"
    [ngClass]="{'beige': item.topRated}">
    <div class="flex">
        <div>
            <span class="title">{{item.title | uppercase}}</span>
            <span *ngIf="item.topRated"><img src="../../../assets/star-icon.svg" alt="" class="icon"></span>
        </div>
        <div class="flex-contain">
            <span class="grey-txt pad">
                <img src="../../../assets/clock.svg" alt="" class="icon"> 
                {{item.duration | duration}} 
            </span>
            <span class="grey-txt pad">
                <img src="../../../assets/Calendar.svg" alt="" class="icon">
                 {{item.creationDate | date: 'MM/dd/yyyy'}}</span>
        </div>
    </div>

    <div class="flex">
        <span class="details">{{item.description}}</span>
        <div class="flex-contain">
                <button mat-raised-button class="btn"><img src="../../../assets/Edit.svg" alt="" class="icon ">
                     Edit</button>
            <button mat-raised-button id="delete-button" class="btn" (click) = "onDelete(item.id)">
                <img src="../../../assets/Delete.svg" alt="" class="icon"> 
                Delete</button>
        </div>
    </div>
</div>

<div class="course-item center" *ngIf="items.length > 1">
    <a href="#!" (click) = "load()">Load more</a>
</div>


<div class="course-item center" *ngIf="items.length === 0">
    <span>No data. Please feel free to add new courses.</span>
</div>
<div class="bottom"></div>