<app-logo></app-logo>
<div class="spacer"></div>
<div class="flex">
    <div class="flex-row">
        <button class="btn" value="login" (click) = "onLogin($event)" id="login">
            <img src="../../assets/User.svg" alt="" class="icon">
        </button> 
        <p>User login</p>
    </div>
    <div class="flex-row">
        <button class="btn" value="logout" (click) = "onLogout($event)" id="logout">
            <img src="../../assets/LogOut.svg" alt="" class="icon">
        </button>
        <p>Log out</p>
    </div>
    
</div>