<div class="breadcrumbs">
    <p>Courses</p>
</div>
<div class="container">
    <div class="search">
        <input class="input" id="search-input" type="text" placeholder="Type your text" [(ngModel)]="searchInput">
        <button class="btn btn-green" (click) = "search()">Search</button>
    </div>
    <div class="reverse">
        <button class="btn btn-blue-big"><img src="../../assets/Add.svg" alt="" class="icon"> Add course</button>
    </div>
    <app-course-item [items] = 'itemsArray' (delete) = "handleDelete($event)" ></app-course-item>
</div>


